@model NaPoso.Models.Oglas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Oglas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lokacija" class="control-label"></label>
                <input asp-for="Lokacija" class="form-control" />
                <span asp-validation-for="Lokacija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipPosla" class="control-label"></label>
                <input asp-for="TipPosla" class="form-control" />
                <span asp-validation-for="TipPosla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CijenaPosla" class="control-label"></label>
                <input asp-for="CijenaPosla" class="form-control" />
                <span asp-validation-for="CijenaPosla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
