@{
    ViewData["Title"] = "Početna stranica";
}

<div class="text-center">
    <h2 class="display-4">Dobro došli na najbolju freelance platformu u BiH</h2>
    <h3>Šta čekate, Na Pos'o!</a></h3>
</div>
