@model NaPoso.Models.Statistika

@{
    ViewData["Title"] = "Admin statistika";
}

<h1>Admin statistika</h1>

<ul>
    <li>Ukupno korisnika: @Model.UkupnoKorisnika</li>
    <li>Ukupno poslova: @Model.UkupnoPoslova</li>
    <li>Ukupno klijenata: @Model.UkupnoKlijenata</li>
</ul>
